<!DOCTYPE HTML>

<html>
    {% load static %}
	<head>
		<title>Furniture</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'website/assets/css/main.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'website/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Smart Home</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="index.html">Room From 1 to 2</a></li>

							<li><a href="light.html">open or close a light</a></li>
							<li><a href="generic.html">Furniture controller</a></li>
							<li class="active"><a href="fjs.html">Furniture.js</a></li>

						</ul>
						<ul class="icons">
              <li><a href="login.html" class="button">Login</a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

							<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<span class="date">NCCUCS</span>




										<select id="sel" size="6">
											<option value="Samsung Induction Cooker" onclick="myfunction()">Samsung Induction Cooker</option>
											<option value="Samsung Refrigerator" onclick="myfunction_1()">Samsung Refrigerator</option>
											<option value="Samsung Alarm" onclick="myfunction_2()">Samsung Alarm</option>
										</select>
										<br>

										<span class="date">JS</span>
										<div id="aaa"></div>


                    <div id="aaa"></div>
										<br>




								</header>
							<!--	<div class="image main"><img src="images/pic01.jpg" alt="" /></div> -- >
								<p>123</p>
								<p>123</p>
							</section>

					</div>





			</div>

		<!-- Scripts -->
		  <script language="javascript">
				//var input = document.getElementById("input").value;

				var volume = [99, 15, 20]

				function aclick() {
					var input = document.getElementById("input").value;
					console.log("AAA");
					document.getElementById("output").value = input;
				}
				function myfunction() {
					document.getElementById("aaa").innerHTML = '{<br>"Samsung Induction Cooker":{<br>"Name": "Samsung Induction Cooker",<br>"Manufacturer":"Samsung",<br>"Manufacturing Date":"09/12",<br>"Service":["Boil", "Braise", "Deep-fry", "Preheat"]<br>}<br>}'
				}
				function myfunction_1() {
					document.getElementById("aaa").innerHTML = '{<br>"Samsung Refrigerator":{<br>"Name": "Samsung Refrigerator",<br>"Manufacturer":"Samsung",<br>"Manufacturing Date":"09/12",<br>"Service":["Chilling", "Ice Making"]<br>}<br>}'
				}
				function myfunction_2() {
					document.getElementById("aaa").innerHTML = '{<br>"Samsung Alarm":{<br>"Name": "Samsung Alarm",<br>"Manufacturer":"Samsung",<br>"Manufacturing Date":"09/12",<br>"Service":["On", "Off"]<br>}<br>}'
				}

				function up(n) {
					document.getElementById("volume" + n).innerHTML = ++volume[n]
				}
				function down(n) {
					document.getElementById("volume" + n).innerHTML = --volume[n]
				}

			</script>
			<!-- Scripts -->
            <script src="{% static 'website/assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'website/assets/js/jquery.scrollex.min.js' %}"></script>
            <script src="{% static 'website/assets/js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'website/assets/js/skel.min.js' %}"></script>
            <script src="{% static 'website/assets/js/util.js' %}"></script>
            <script src="{% static 'website/assets/js/main.js' %}"></script>

	</body>
</html>
