<!DOCTYPE HTML>

<html>
{% load static %}

<head>
    <title>light</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'website/assets/css/main.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'website/assets/css/noscript.css' %}" />
    </noscript>

</head>

<body class="is-loading">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="index.html" class="logo">Smart Home</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.html">Home Services</a></li>
                <li class="active"><a href="light.html">Device Manipulations( Light DEMO )</a></li>
                <li><a href="generic.html">Furniture controller</a></li>

            </ul>
            <ul class="icons">
                <li><a href="login.html" class="button">Login</a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

                <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- gif setting  -->

            <script>
                function light(sw) {
                    var pic;
                    var lightStatus;
                    if (sw == 0) {
                        pic = "{% static 'website/images/pic_bulboff.gif' %}"
                        lightStatus = 'OFF'
                    } else {
                        pic = "{% static 'website/images/pic_bulbon.gif' %}"
                        lightStatus = 'ON'
                    }
                    document.getElementById('myImage').src = pic;
                    $.ajaxSetup({
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                    });

                    $.ajax({
                        url: '/website/light.html',
                        data: {
                            device: lightStatus,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                    }).done(function(result) {
                        // console.log( result.toString() )
                        // do something after sending post
                    });
                }
            </script>

            <!-- Post -->
            <section class="post">
                <header class="major">
                    <span class="date">Light Condition</span> Please input:

                    <br>

                    <div><img id="myImage" src="{% static 'website/images/pic_bulboff.gif' %}" width="100" height="180"></div>
                    <p>
                        <button type="button" onclick="light(1)">Light On</button>
                        <button type="button" onclick="light(0)">Light Off</button>
                    </p>

                    <div id="aaa"></div>

                    <div>Lignt on(1) or off(0):
                        <div id="volume0">0</div>
                    </div>
                    <!--<button onclick="up(0)">1</button>
                                        <button onclick="down(0)">0</button>-->
                    <button onclick="change(0,1)">1</button>
                    <button onclick="change(0,0)">0</button>

                </header>
                <!--    <div class="image main"><img src="images/pic01.jpg" alt="" /></div> -- >
                                <p>123</p>
                                <p>123</p>
                            </section>

                    </div>

            </div>

        <!-- Scripts -->
                <script language="javascript">
                    //var input = document.getElementById("input").value;

                    var volume = [0]

                    function aclick() {
                        var input = document.getElementById("input").value;
                        console.log("AAA");
                        document.getElementById("output").value = input;
                    }

                    function change(n, c) {
                        document.getElementById("volume" + n).innerHTML = c
                        $.ajaxSetup({
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        });

                        $.ajax({
                            url: '/website/light.html',
                            data: {
                                device: c,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        }).done(function(result) {

                        });
                    }

                    function up(n) {
                        document.getElementById("volume" + n).innerHTML = ++volume[n]
                        $.ajaxSetup({
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        });

                        $.ajax({
                            url: '/website/light.html',
                            data: {
                                device: text,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        }).done(function(result) {

                        });
                    }

                    function down(n) {
                        document.getElementById("volume" + n).innerHTML = --volume[n]
                        $.ajaxSetup({
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        });

                        $.ajax({
                            url: '/website/light.html',
                            data: {
                                device: text,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        }).done(function(result) {

                        });
                    }
                </script>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="{% static 'website/assets/js/jquery.min.js' %}"></script>
                <script src="{% static 'website/assets/js/jquery.scrollex.min.js' %}"></script>
                <script src="{% static 'website/assets/js/jquery.scrolly.min.js' %}"></script>
                <script src="{% static 'website/assets/js/skel.min.js' %}"></script>
                <script src="{% static 'website/assets/js/util.js' %}"></script>
                <script src="{% static 'website/assets/js/main.js' %}"></script>

</body>

</html>