<!DOCTYPE HTML>

<html>
{% load static %}

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'website/assets/css/main.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'website/assets/css/noscript.css' %}" />
    </noscript>
    <style type="text/css">
        .container {
            overflow: hidden;
        }

        .right {
            font-size: 25px;
            color: #96653E;
            font-family: Microsoft JhengHei;
            float: right;
            width: 50%;
        }

        .left {
            font-size: 25px;
            color: #96653E;
            font-family: Microsoft JhengHei;
            float: left;
            width: 50%;
        }
        .device_img {

            vertical-align: middle;
        }
        .img_div {
            margin: 8%;
        }


    </style>
</head>

<body class="is-loading">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
            <a href="index.html" class="logo">Smart Home</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.html">Home Services</a></li>
                <li><a href="generic.html">Furniture controller</a></li>

            </ul>

            <ul class="icons">
                <li><a href="login.html" class="button">Login</a></li>
            </ul>

        </nav>

        <!-- Main -->
        <div>
            <div id="main">

                <!-- Featured Post -->

                <article class="post featured">
                    <header class="major">
                        <span class="date">Login</span>
                        <button type="button" onclick="document.getElementById('demo').innerHTML = Date()">
                            Click me to display Date and Time.</button>
                        <p id="demo"></p>

                    </header>

                    <div class='container'>
                        <div class='left'>
                            請輸入設備資訊 ↓
                            <input type="text" id="device_name" style="width: 80%; margin: 10px" placeholder="請輸入設備名稱" required>
                            <input type="text" id="device_id" style="width: 80%; margin: 10px" placeholder="請輸入設備帳號" required>
                            <input type="password" id="device_pwd" style="width: 80%; margin: 10px" placeholder="請輸入設備密碼" required>
                        </div>
                        <div class="right device_img" style="vertical-align: middle; height: 230.91px;">
                            將您的設備註冊至家庭中 ←
                            <div class="left">
                                <div class="img_div">
                                    <img class="device_img" src="{% static 'website/images/001.png' %}">
                                </div>
                                <div class="img_div">
                                    <img class="device_img" src="{% static 'website/images/003.png' %}">
                                </div>
                            </div>
                            <div class="right">
                                <div class="img_div">
                                <img class="device_img" src="{% static 'website/images/005.png' %}">
                                </div>
                                <div class="img_div">
                                <img class="device_img" src="{% static 'website/images/007.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <p></p>
                    <button id="btn" onclick="login()">登入</button>

            </div>

            </article>

        </div>

        <script language="javascript">
            function login() {
                console.log($("#device_name").val())
                console.log($("#device_id").val())
                console.log($("#server_id").val())
                console.log($("#server_pwd").val())

                $.ajaxSetup({
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                });

                $.ajax({
                    url: '/website/login.html',
                    data: {
                        device_name: $("#device_name").val(),
                        device_id: $("#device_id").val(),
                        device_pwd: $("#device_pwd").val(),
                        server_id: $("#server_id").val(),
                        server_pwd: $("#server_pwd").val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function( response ) {

                    },

                }).done(function(result) {
                    console.log( "SUCCESS")
                    alert( "Login Successed!");
                    window.location.href = 'index.html';
                });

            }
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'website/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'website/assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'website/assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'website/assets/js/skel.min.js' %}"></script>
        <script src="{% static 'website/assets/js/util.js' %}"></script>
        <script src="{% static 'website/assets/js/main.js' %}"></script>

</body>

</html>