<title>Smarthome Web</title>
<marquee style="width: 200%" direction="right" class="style4">Smarthome Web</marquee>
</strong>
</em>
</p>

<body bgcolor="orange">

        <style>
                body{
                margin:0px;
                padding:0px;
                background:#fff url(https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/12400715_1194797890531911_2573071761966720196_n.jpg?oh=d4e0bb87dcf3b9da69b39116e42b7bf3&oe=5A851BB1) center center fixed no-repeat;　//設定背景圖片的呈現方式
                background-size: cover;　//設定背景圖片的填滿方式
                }
                </style>



    <script language="javascript">
        //var input = document.getElementById("input").value;

        var volume = [99, 15, 20]

        function aclick() {
            var input = document.getElementById("input").value;
            console.log("AAA");
            document.getElementById("output").value = input;
        }
        function myfunction() {
            document.getElementById("aaa").innerHTML = '{<br>"Samsung Induction Cooker":{<br>"Name": "Samsung Induction Cooker",<br>"Manufacturer":"Samsung",<br>"Manufacturing Date":"09/12",<br>"Service":["Boil", "Braise", "Deep-fry", "Preheat"]<br>}<br>}'
        }
        function myfunction_1() {
            document.getElementById("aaa").innerHTML = '{<br>"Samsung Refrigerator":{<br>"Name": "Samsung Refrigerator",<br>"Manufacturer":"Samsung",<br>"Manufacturing Date":"09/12",<br>"Service":["Chilling", "Ice Making"]<br>}<br>}'
        }
        function myfunction_2() {
            document.getElementById("aaa").innerHTML = '{<br>"Samsung Alarm":{<br>"Name": "Samsung Alarm",<br>"Manufacturer":"Samsung",<br>"Manufacturing Date":"09/12",<br>"Service":["On", "Off"]<br>}<br>}'
        }

        function up(n) {
            document.getElementById("volume" + n).innerHTML = ++volume[n]
        }
        function down(n) {
            document.getElementById("volume" + n).innerHTML = --volume[n]
        }

    </script> Please input:
    <input type="text" id="input" name="欄位名稱">

    <button id="btn" onclick="aclick()">show result</button>

    <input type="button" value="Show me" onclick="aclick()">

    <input type="text" id="output" name="欄位名稱">
    <br>

    <!-- ...
      <select >
            <option value="SSamsung Induction Cooker" onclick="myfunction()">Samsung Induction Cooker</option>
            <option value="Samsung Refrigerator" onclick="myfunction_1()">Samsung Refrigerator</option>
            <option value="Samsung Alarm" onclick="myfunction_2()">Samsung Alarm</option>
      </select>
這裡是註解文字 ... -->

    <select id="sel" size="5">
        <option value="Samsung Induction Cooker" onclick="myfunction()">Samsung Induction Cooker</option>
        <option value="Samsung Refrigerator" onclick="myfunction_1()">Samsung Refrigerator</option>
        <option value="Samsung Alarm" onclick="myfunction_2()">Samsung Alarm</option>
    </select>

    <div id="aaa"></div>

    <div>Cooker temperature:
        <div id="volume0">99</div>
    </div>
    <button onclick="up(0)">up</button>
    <button onclick="down(0)">down</button>

    <div>Refrigerator temperature:
        <div id="volume1">15</div>
    </div>
    <button onclick="up(1)">up</button>
    <button onclick="down(1)">down</button>

    <div>Alarm Volume:
        <div id="volume2">20</div>
    </div>
    <button onclick="up(2)">up</button>
    <button onclick="down(2)">down</button>